@page "/siteadmin"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Administration</li>
    </ol>
</nav>
<h2>Site Administration</h2>
<nav>
    <ul class="childtree list-unstyled">
        <li class="nav-item ">
            <NavLink class="nav-link" href="siteadmin/sitelist">
                <i class="fas fa-list-ul fa-fw"></i>
                Site List
            </NavLink>
        </li>
        <li class="nav-item ">
            <NavLink class="nav-link" href="siteadmin/companyinfo">
                <i class="fas fa-address-card fa-fw"></i>
                Company Info
            </NavLink>
        </li>
    </ul>
</nav>