@page "/siteadmin/companyinfo"
@page "/siteadmin/companyinfo/{siteId}"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item"><a href="siteadmin">Administration</a></li>
        <li class="breadcrumb-item active" aria-current="page">Company Info</li>
    </ol>
</nav>
<CompanyInfoEdit SiteId="@siteId" />

@functions {

    [Parameter]
    string siteId { get; set; }

    

}