@page "/test1"
@using cloudscribe.Extensions.Blazor.Config
@using cloudscribe.Extensions.Blazor.Oidc
@inject HttpClient Http
@inject OidcService  oidc


<h2>Test</h2>

Access Token
<div>
    <textarea class="form-control">@accessToken</textarea>
</div>


Identity Token
<div>
    <textarea class="form-control">@identityToken</textarea>
</div>


@oidcAuthority
</ br>
@serializedUesr


@functions {
    string serializedUesr = "";
    string oidcAuthority = "";
    string accessToken = "";
    string identityToken = "";

    protected override async Task OnInitAsync()
    {
        oidcAuthority = await AppSettings.Get("oidcAuthority");

        if (oidc.CurrentUser != null)
        {
            //serializedUesr = Json.Serialize(oidc.CurrentUser);
            accessToken = oidc.CurrentUser.Access_Token;
            identityToken = oidc.CurrentUser.Id_Token;
        }

    }

}