@using cloudscribe.Extensions.Blazor.Oidc

@if (currentUser == null)
{
    <button class="btn btn-link ml-md-auto" onclick="@SignIn">Sign In</button> 
}
else
{  
    <button class="btn btn-link ml-md-auto" onclick="@SignOut">Sign Out</button>   
}


@functions {

    UserManager userManager = null;
    User currentUser = null;

    async Task SignIn()
    {
        if (userManager != null)
        {
            await userManager.SignInRedirect();
        }
    }

    async Task SignOut()
    {
        if (userManager != null)
        {
            await userManager.SignOut();
        }
    }


    protected override async Task OnInitAsync()
    {
        userManager = await UserManager.GetUserManager();
        currentUser = await userManager.GetUser();
    }

}