@using cloudscribe.Extensions.Blazor.Oidc
@inject OidcService  oidc

@if (oidc.CurrentUser == null)
{
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
       
        <li class="nav-item">
            <a class="nav-link login-link" onclick="@SignIn">Sign In</a>
        </li>
    </ul>
    
}
else
{
    <ul class="navbar-nav ml-auto my-2 my-lg-0" role="menubar">
        <li class="nav-item dropdown">
            <span class="nav-link user-welcome">Welcome @oidc.CurrentUser.Profile.Name </span>

        </li>
        <li class="nav-item">
            <a class="nav-link logout-link" onclick="@SignOut">Sign Out</a>
        </li>
    </ul>

}

@functions {
string userName = "";

async Task SignIn()
{
    await oidc.SigninPopup();
}

async Task SignOut()
{
    await oidc.SignoutRedirect();
}

protected override async Task OnInitAsync()
{
    oidc.OnChange += StateHasChanged;
    await oidc.Init();
    if (oidc.CurrentUser != null && oidc.CurrentUser.Profile != null)
    {
        userName = oidc.CurrentUser.Profile.Name;
    }
}

}