@using cloudscribe.Extensions.Blazor.Oidc

@if (currentUser == null)
{
    <button class="btn btn-link" onclick="@SignIn">Sign In</button>

   
}
else
{
    <div>
        Welcome
    </div>
}


@functions {

UserManager userManager = null;
User currentUser = null;

async Task SignIn()
{
    if (userManager != null)
    {
        await userManager.SignInRedirect();
    }
}


protected override async Task OnInitAsync()
{
    userManager = await UserManager.GetUserManager();
    currentUser = await userManager.GetUser();
}

}