@using cloudscribe.Extensions.Blazor.Oidc
@inject OidcService  oidc

@if (oidc.CurrentUser == null)
{
    <button class="btn btn-link ml-md-auto" onclick="@SignIn">Sign In</button> 
}
else
{  
    <button class="btn btn-link ml-md-auto" onclick="@SignOut">Sign Out</button>   
}


@functions {

    //UserManager userManager = null;
    //User currentUser = null;

    async Task SignIn()
    {
        await oidc.SignInRedirect();
        
    }

    async Task SignOut()
    {
        
        await oidc.SignOut();
        
    }


    protected override async Task OnInitAsync()
    {
        oidc.OnChange += StateHasChanged;
        await oidc.Init();

        //userManager = await UserManager.GetUserManager();
        //currentUser = await oidc.GetUser();
    }

}