@using cloudscribe.Extensions.Blazor.Oidc
@inject OidcService  oidc

@if (oidc.CurrentUser == null)
{
    <button class="btn btn-link ml-md-auto" onclick="@SignIn">Sign In</button> 
}
else
{
    <span>Welcome @oidc.CurrentUser.Profile.Name </span>
    <button class="btn btn-link ml-md-auto" onclick="@SignOut">Sign Out</button>   
}

@functions {
    string userName = "";

    async Task SignIn()
    {
        await oidc.SigninPopup();
    }

    async Task SignOut()
    {
        await oidc.SignoutRedirect();
    }

    protected override async Task OnInitAsync()
    {
        oidc.OnChange += StateHasChanged;
        await oidc.Init();
        if(oidc.CurrentUser != null && oidc.CurrentUser.Profile != null)
        {
            userName = oidc.CurrentUser.Profile.Name;
        }
    }

}