@page "/oidc-callback"
@using cloudscribe.Extensions.Blazor.Oidc

<h2>callback</h2>



@functions {
    string oidcAuthority = "";

    UserManager userManager;

    protected override async Task OnInitAsync()
    {
        userManager = await UserManager.GetUserManager();
        await userManager.SignInRedirectCallback();

    }

}
