@page "/sitelist"
@using cloudscribe.Core.Models
@using System.Text
@inject HttpClient Http


@if (siteList == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Aliasid</th>
                <th>Folder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in siteList)
            {
                <tr>
                    <td>@site.Id</td>
                    <td>@site.SiteName</td>
                    <td>@site.AliasId</td>
                    <td>@site.SiteFolderName</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {

    List<SiteInfo> siteList = null;
    string responseFromG = "";

    protected override async Task OnInitAsync()
    {
        const string query = @"{
                ""query"": ""query { siteList { id, aliasId, siteName, siteFolderName } }""
            }";
        var content = new StringContent(query, Encoding.UTF8, "application/json");

        var response = await Http.PostAsync("https://localhost:44396/graphql", content);
        response.EnsureSuccessStatusCode();
        responseFromG = await response.Content.ReadAsStringAsync();

        var model = Json.Deserialize<MyModel>(responseFromG);
        siteList = model.Data.SiteList;

    }

    // these models are only needed because the response format is:
    //{"data":{"siteList":[{"id":"5961f387-accd-49dc-b962-44029d0803ae","aliasId":"s1","siteName":"GraphQL Demo","siteFolderName":null}]}}
    // and this provides something easy to deserialize from the response
    class MyModel
    {
        public Data Data { get; set; }
    }

    class Data
    {
        public List<SiteInfo> SiteList { get; set; }
    }


}
