@inherits BlazorLayoutComponent
@addTagHelper *, cloudscribe.Extensions.Blazor.Oidc

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <OidcLogin />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
