
@inject HttpClient Http
@inject OidcService  oidc
<h2>Site List </h2>

@if (model == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Aliasid</th>
                <th>Folder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in model.Data.SiteList)
            {
                <tr>
                    <td>@site.Id</td>
                    <td>@site.SiteName</td>
                    <td>@site.AliasId</td>
                    <td>@site.SiteFolderName</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {

    SiteListModel model = null;

    protected override async Task OnInitAsync()
    {
        var query = new GraphQLRequest
        {
            Query = @"
    {
      siteList {
        id,
        aliasId,
        siteName,
        siteFolderName
      }
    }"
        };
        if (oidc.CurrentUser != null)
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", oidc.CurrentUser.Id_Token);
        }

        var queryJson = Json.Serialize(query);
        var endPoint = await AppSettings.Get("graphqlApiUri");
        var response = await Http.PostAsync(endPoint, new StringContent(queryJson, Encoding.UTF8, "application/json"));
        response.EnsureSuccessStatusCode();
        var result = await response.Content.ReadAsStringAsync();
        model = Json.Deserialize<SiteListModel>(result);

    }

    // these models are only needed because the response format is:
    //{"data":{"siteList":[{"id":"5961f387-accd-49dc-b962-44029d0803ae","aliasId":"s1","siteName":"GraphQL Demo","siteFolderName":null}]}}
    // and this provides something easy to deserialize from the response
    class SiteListModel
    {
        public DataResult Data { get; set; }

        public class DataResult
        {
            public List<SiteDescriptor> SiteList { get; set; }
        }
    }




}
