
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="sitelist">Site List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Site</li>
    </ol>
</nav>

<h2>Edit Site</h2>

@SiteId



@functions {
    [Parameter]
    string SiteId { get; set; }


}